src/main/mule/cicd-with-mule.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="f0153175-5b13-45a9-b31e-ad5a60ca71e6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-with-muleFlow" doc:id="4d4236f7-c7a7-4fe4-b220-2f097b438811" >
		<http:listener doc:name="Listener" doc:id="5cd7c1e5-ba20-428a-96e8-ebe0c5efc767" config-ref="HTTP_Listener_config" path="/cicd"/>
		<set-payload value='#["Hello cicd"]' doc:name="Set Payload" doc:id="f00d976a-d7ae-436e-943d-c1d9b6ec4c51" />
	</flow>
</mule>
